<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStokService"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6767/StokService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStokService" contract="ETicaretService.IStokService" name="BasicHttpBinding_IStokService"/>
        </client>
    </system.serviceModel>
</configuration>
